.main{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    grid-template-areas:
     "one one four"
    "two three four"
    "five six seven";
}

.navBar--list{
    display:flex;
    flex-direction: row;
     justify-content: flex-end;
}
.navBar li {
    margin-right: 20px;
    list-style: none;
}

.one{
    grid-area: one;
}
.two{
    grid-area: two;
}
.three{
    grid-area: three;
}
.four{
    grid-area: four;
    background-color: black;
    border-radius: 0.5px;
    color: white;
    padding: 10px;
}
.four h2{
    color: chocolate;
}
.five{
    grid-area: five;
    
}
.six{
    grid-area: six;
}
.seven{
    grid-area: seven;
} 





